02-workflow-orchestration/flows/13_create_FHV_tripdata_table.yaml
id: 13_create_FHV_tripdata_table
namespace: zoomcamp
description: |
  this flow loads FHV trip data from the NYC TLC data repository, uploads it to GCS and then creates an external table in BigQuery. The
  CSV data used here comes from: https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/fhv

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green,fhv]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"
    allowCustomValue: true # allows you to type 2021 from the UI for the homework 🤗

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_ANALYTICS_DATAST')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}}"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"

tasks:
      - id: bq_fhv_tripdata
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_ANALYTICS_DATAST')}}.fhv_tripdata`
          (
              unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
              filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),
              dispatching_base_num STRING OPTIONS (description = 'The dispatching base number'),
              pickup_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was engaged'),
              dropoff_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was disengaged'),
              PULocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was engaged'),
              DOLocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was disengaged'),
              SR_Flag STRING OPTIONS(),
              Affiliated_base_number STRING OPTIONS (description = 'The Affiliated base number')
          )
          PARTITION BY DATE(pickup_datetime);

      - id: bq_fhv_table_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
          (             
              dispatching_base_num STRING OPTIONS (description = 'The dispatching base number'),
              pickup_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was engaged'),
              dropoff_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was disengaged'),
              PULocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was engaged'),
              DOLocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was disengaged'),
              SR_Flag STRING OPTIONS(),
              Affiliated_base_number STRING OPTIONS (description = 'The Affiliated base number')
          )
          OPTIONS (
              format = 'CSV',
              uris = ['{{render(vars.gcs_file)}}'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      - id: bq_fhv_table_tmp
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
          AS
          SELECT
            MD5(CONCAT(
              COALESCE(CAST(dispatching_base_num AS STRING), ""),
              COALESCE(CAST(pickup_datetime AS STRING), ""),
              COALESCE(CAST(dropoff_datetime AS STRING), ""),
              COALESCE(CAST(PULocationID AS STRING), ""),
              COALESCE(CAST(DOLocationID AS STRING), "")
            )) AS unique_row_id,
            "{{render(vars.file)}}" AS filename,
            *
          FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;    

      - id: bq_fhv_merge
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_ANALYTICS_DATAST')}}.fhv_tripdata` T
          USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (unique_row_id, filename, dispatching_base_num , pickup_datetime, dropoff_datetime, PULocationID , DOLocationID , SR_Flag , Affiliated_base_number)
            VALUES (S.unique_row_id, S.filename, S.dispatching_base_num , S.pickup_datetime, S.dropoff_datetime, S.PULocationID , S.DOLocationID , S.SR_Flag , S.Affiliated_base_number);


pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

